<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 version="2.5">

	<servlet>
		<servlet-name>js</servlet-name>
		<servlet-class>FastdeployServlet</servlet-class>
		<init-param>
			<param-name>content.type</param-name>
			<param-value>text/javascript</param-value>
		</init-param>
		<init-param>
			<param-name>root.dir</param-name>
			<param-value>/home/robcos/src/eniro/ego_2.17/MapApi3/src/main/js/enimap2</param-value>
		</init-param>
		<init-param>
			<param-name>include.pattern</param-name>
			<param-value>
				**/*.js
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>js</servlet-name>
		<url-pattern>/test.js</url-pattern>
	</servlet-mapping>
</web-app>
