<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 version="2.5">

	<servlet>
		<servlet-name>js-classpath</servlet-name>
		<servlet-class>com.robcos.onthefly.FastdeployServlet</servlet-class>
		<init-param>
			<param-name>content.type</param-name>
			<param-value>text/javascript</param-value>
		</init-param>
		<init-param>
			<param-name>include.pattern</param-name>
			<param-value>
				/firstfile.js
				/com/secondfile.js
			</param-value>
		</init-param>
		<init-param>
			<param-name>use.classpath</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>js-filesystem</servlet-name>
		<servlet-class>com.robcos.onthefly.FastdeployServlet</servlet-class>
		<init-param>
			<param-name>content.type</param-name>
			<param-value>text/javascript</param-value>
		</init-param>
		<init-param>
			<param-name>include.pattern</param-name>
			<param-value>
				firstfile.js
				**/*.js
			</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>js-javascript</servlet-name>
		<servlet-class>com.robcos.onthefly.FastdeployServlet</servlet-class>
		<init-param>
			<param-name>content.type</param-name>
			<param-value>text/javascript</param-value>
		</init-param>
		<init-param>
			<param-name>use.jsfilenameprovider</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>jsfilenameprovider.varname</param-name>
			<param-value>myJsfiles</param-value>
		</init-param>
		<init-param>
			<param-name>jsfilenameprovider.sourcefile</param-name>
			<param-value>/filelist.js</param-value>
		</init-param>
		<init-param>
			<param-name>use.classpath</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>js-filesystem</servlet-name>
		<url-pattern>/test-filesystem.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>js-classpath</servlet-name>
		<url-pattern>/test-classpath.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>js-javascript</servlet-name>
		<url-pattern>/test-javascript.js</url-pattern>
	</servlet-mapping>
</web-app>
